# Logs
*.log

# # Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Thumbs.db     # Windows system file

# Ignore Python / Flask related files
__pycache__/           
venv/               
*.env
*.venv              
.flaskenv              
.pytest_cache/          
instance/               
coverage/               


# Ignore database files

migrations/*.pyc
migrations/*.pyo
migrations/*.pyd
migrations/__pycache__/

